# Directories.
datasets/__pycache__/
deployment/__pycache__/
nets/__pycache__/
preprocessing/__pycache__/

notebooks/.ipynb_checkpoints/
ssd-tensorflow.sublime-workspace
ssd-tensorflow.sublime-project

checkpoints/ssd_300_vgg.ckpt.data-00000-of-00001
checkpoints/ssd_300_vgg.ckpt.index

logs/
.ipynb_checkpoints/
__pycache__/

*.log

checkpoints/VGG_VOC0712_SSD_300x300_ft_iter_120000.ckpt.data-00000-of-00001
checkpoints/VGG_VOC0712_SSD_300x300_ft_iter_120000.ckpt.index
checkpoints/VGG_VOC0712_SSD_300x300_ft_iter_120000.ckpt.zip
checkpoints/VGG_VOC0712_SSD_300x300_iter_120000.ckpt.data-00000-of-00001
checkpoints/VGG_VOC0712_SSD_300x300_iter_120000.ckpt.index
checkpoints/VGG_VOC0712_SSD_300x300_iter_120000.ckpt.zip
